FORMAT: 1A
HOST: http://developer.oneboxtickets.com/crm-api/index.html

# onebox-crm-api

API to share CRM data to our integrated clients.

To do so, we have used a **API Blueprint** standard, **apiary** as an online editing and mocking tool, **aglio** to document it and **getsandbox** as a sandbox provider:
+ [API Blueprint](https://apiblueprint.org/)
+ [apiary.io](http://docs.oneboxcrmapi.apiary.io/)
+ [getsandbox.com](http://onebox-crm-api.getsandbox.com/)
+ [aglio](https://github.com/danielgtaylor/aglio)
+ [github](https://github.com/joliva-ob/onebox-crm-api)
+ [onebox-developer](http://developer.oneboxtickets.com/crm-api/index.html)

## Buyers Collection [/crm-api/v1.0/buyers{?id,start_date,end_date,page}]
List all the key data from the clients which have performed at least one purchase. It is also allowed filtering between dates and paging.

See below the description of the response fields we consider that need to be explained:

| Response Field                   | Description                             |
|----------------------------------|-----------------------------------------|
| version                          | (Text) Version of the API               |
| href                             | (Text) Url of the API doc               |
| trace_id                         | (Text) unique identifier of the request |
| parameters                       | (Object) Request filtering used         |

### List All Buyers [GET]

+ Request

  + Headers

      Authorization: Bearer OAUTH2_TOKEN
      Accept: application/json

+ Parameters
    + id (optional, text) ... Filter by a given buyer identified by its email
    + start_date (optional, date) ... Filter by starting date (`2015-08-05T08:40:51.620Z`)
    + end_date (optional, date) ... Filter by final date
    + page (optional, number) ... Paginate response to the given page number

+ Response 200 (application/json)

        {
          "collection":
          {
            "version": "1.0",
            "href": "http://www.oneboxtm.com/api-crm/v1.0/",
            "trace_id": "94abc26e-173a-4ab2-a71b-863aed20f656",
            "request_date": "2015-08-05T08:40:51.620Z",
            "channel_id": "int_channel@oneboxtm.com",
            "parameters":
            {
              "id": "",
              "start_date": "",
              "end_date": "",
              "page": 2
            },

            "buyers": [
              {
                "id": "joan@email.com",
                "email": "joan@gmail.com",
                "name": "first name",
                "surname": "last name",
                "birth_date": "1980-05-02",
                "gender": "male",
                "address1": "first line address",
                "address2": "second line address",
                "city": "Pineda de Mar",
                "state": "Barcelona",
                "zip_code": "08397",
                "country": "Spain",
                "language": "SPA",
                "signup_date": "2015-08-05T08:40:51.620Z",
                "phone": "+34 555 555 555",
                "mobile": "+34 555 555 555",
                "newsletter_agreement": "true",
                "sms_agreement": "false",
                "phone_agreement": "false",
                "post_agreement": "true",
                "update_date": "2015-08-05T08:40:51.620Z"
              },

              {
                "id": "eva@email.com",
                "email": "eva@gmail.com",
                "name": "first name",
                "surname": "last name",
                "birth_date": "1984-12-11",
                "gender": "female",
                "address1": "first line address",
                "address2": "second line address",
                "city": "Pineda de Mar",
                "state": "Barcelona",
                "zip_code": "08397",
                "country": "Spain",
                "language": "SPA",
                "signup_date": "2015-08-05T08:40:51.620Z",
                "phone": "+34 555 555 555",
                "mobile": "+34 555 555 555",
                "newsletter_agreement": "true",
                "sms_agreement": "false",
                "phone_agreement": "false",
                "post_agreement": "true",
                "update_date": "2015-08-05T08:40:51.620Z"
              }
            ],

            "links": [
              {
                "name": "next_page",
                "prompt": "Next",
                "rel": "next",
                "href": "buyers/page/3",
                "render": "link"
              },
              {
                "name": "previous_page",
                "prompt": "Bext",
                "rel": "back",
                "href": "buyers/page/1",
                "render": "link"
              }
            ]

          }
        }

+ Response 201 (application/json)

+ Response 400 (application/json)

        {
          "error": "Bad request",
          "error_description": "There was a syntax error, check your params request and try it again."
        }

+ Response 401 (application/json)

        {
          "error": "unauthorized",
          "error_description": "Full authentication is required to access this resource"
        }

## Purchases Collection [/crm-api/v1.0/purchases{?id,start_date,end_date,page,status}]
List all the key data from the purchases including its products, the order details they came from, the orderline and its channel on sale. Finally it is also allowed filtering between dates and paging.

| Response Field                   | Description                                   |
|----------------------------------|-----------------------------------------------|
| version                          | (Text) Version of the API                     |
| href                             | (Text) Url of the API doc                     |
| trace_id                         | (Text) unique identifier of the request       |
| parameters                       | (Object) Request filtering used               |
| purchases.order.status           | (enum) OK, ERROR, ABANDONED                   |
| purchases.order.delivery_method  | (enum) EMAIL, BOXOFFICE, PASSBOOK             |
| purchases.order.products_number  | (Number) Number of tickets from a given order |

### List All Purchases [GET]

+ Request

  + Headers

      Authorization: Bearer OAUTH2_TOKEN
      Accept: application/json

+ Parameters
    + id (optional, text) ... Filter by a given purchase identified by its Onebox order code
    + start_date (optional, date) ... Filter by starting date (`2015-08-05T08:40:51.620Z`)
    + end_date (optional, date) ... Filter by final date
    + page (optional, number) ... Paginate response to the given page number
    + status (optional, enum[string])

        Filter by order status, the available choices are:

        + Members
            + `ABANDONED` - Indicates that the shopping cart and its linked order has not been confirmed yet.
            + `OK` - Orders successfully confirmed (purchase).
            + `ERROR` - Orders which have not finalized properly.


+ Response 200 (application/json)

    {
        "collection":
        {
          "version": "1.0",
          "href": "http://www.oneboxtm.com/api-crm/v1.0/",
          "trace_id": "94abc26e-173a-4ab2-a71b-863aed20f656",
          "request_date": "2015-08-05T08:40:51.620Z",
          "channel_id": "int_channel@oneboxtm.com",
          "parameters":
          {
            "id": "",
            "start_date": "",
            "end_date": "",
            "page": 1
          },

          "purchases": [
          {
              "order":
              {
                "id": "XCGDEDFEdZ5",
                "buyer_id": "joan@gmail.com",
                "amount": 535.43,
                "products_number": 3,
                "status": "OK",
                "delivery_method": "EMAIL",
                "order_date": "2015-08-05T08:40:51.620Z",
                "discount_amount": 23.00,
                "update_date": "2015-08-05T08:40:51.620Z"
              },
              "channel":
              {
                "channel_id": "int_channel@oneboxtm.com",
                "city": "BARCELONA",
                "state": "CATALONIA",
                "region": "",
                "country": "SPAIN",
                "zipCode": "08003"
              },
              "products": [
                {
                  "id": "439832",
                  "sku": "LATERAL 1",
                  "description": "Tribuna lateral 1a",
                  "taxonomy": "43123",
                  "taxonomy_description": "DEPFUT",
                  "event_id": "4324",
                  "event_description": "Campeonato de liga 15-16",
                  "session_id": "5438943",
                  "amount": 125.45,
                  "discount_amount": 00.00
                },
                {
                  "id": "439831",
                  "sku": "LATERAL 1",
                  "description": "Tribuna lateral 1a",
                  "taxonomy": "43123",
                  "taxonomy_description": "DEPFUT",
                  "event_id": "4324",
                  "event_description": "Campeonato de liga 15-16",
                  "session_id": "5438943",
                  "amount": 225.45,
                  "discount_amount": 23.00
                },
                {
                  "id": "439833",
                  "sku": "GOL NORD",
                  "description": "Tribuna de gol nord.",
                  "taxonomy": "43123",
                  "taxonomy_description": "DEPFUT",
                  "event_id": "4324",
                  "event_description": "Campeonato de liga 15-16",
                  "session_id": "5438943",
                  "amount": 25.00,
                  "discount_amount": 00.00
                }
              ]
            }
          ],

          "links": [
            {
              "name": "next_page",
              "prompt": "Next",
              "rel": "next",
              "href": "purchases/page/1",
              "render": "link"
            },
            {
              "name": "previous_page",
              "prompt": "Bext",
              "rel": "back",
              "href": "purchses/page/1",
              "render": "link"
            }
          ]
        }
    }

+ Response 204 (application/json)

+ Response 400 (application/json)

      {
        "error": "Bad request",
        "error_description": "There was a syntax error, check your params request and try it again."
      }

+ Response 401 (application/json)

      {
              "error": "unauthorized",
              "error_description": "Full authentication is required to access this resource"
      }
